.header-section {
  background: url("../images/Group\ 1.png") no-repeat;
  background-size: cover;
  .header-wrapper {
    .header-nav {
      display: grid;
      grid-template-columns: 1fr max-content;
      padding: 27px 0 0;
      .menu{
        cursor: pointer;
      }
      .nav-list {
        li {
          padding-left: 25px;
          a {
            font-size: 16px;
            line-height: 36px;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
    .head-heading {
      color: white;
      text-align: center;
      padding: 190px 0 150px 0;
      h1 {
        font-size: 40px;
        line-height: 36px;
      }
      p {
        font-size: 20px;
        line-height: 36px;
      }
    }
  }
}

//responsive

@media only screen and (max-width: 1000px) {
  .header-section {
    .header-wrapper {
      .header-nav {
        .nav-list {
          display: none !important;
        }
        .menu {
          display: block !important;
        }
      }
    }
  }
}
